watchdog
docopt
psutil
requests
ansible
ansible-core
ansible-runner
jmespath

pytest
pytest-asyncio
pytest-timeout
pytest-xdist
pytest-cov
pytest-check
dynaconf==3.1.11
freezegun
oauthlib>=3.2.0
kubernetes
urllib3<2
aioresponses
