bump2version
watchdog
docopt
psutil
requests
ansible
ansible-core
ansible-runner

# Packaging / distribution
twine
build

# Testing
pytest
pytest-asyncio
pytest-timeout
tox
coverage

# Linters
flake8
black

# Docs
Sphinx
