watchdog
docopt
psutil
requests
ansible
ansible-core~=2.16.0; python_version >= "3.11"
ansible-core~=2.15.0; python_version < "3.11"
ansible-runner
jmespath

pytest
pytest-asyncio
pytest-timeout
pytest-xdist
pytest-cov
pytest-check
marshmallow==3.26.1
pytest-jira
dynaconf==3.1.11
freezegun
oauthlib>=3.2.0
kubernetes
urllib3<2
aioresponses
httpie
