interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/job_templates/?name=Hello+World
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":7,"type":"job_template","url":"/api/v2/job_templates/7/","related":{"created_by":"/api/v2/users/1/","modified_by":"/api/v2/users/1/","labels":"/api/v2/job_templates/7/labels/","inventory":"/api/v2/inventories/1/","project":"/api/v2/projects/6/","organization":"/api/v2/organizations/1/","credentials":"/api/v2/job_templates/7/credentials/","last_job":"/api/v2/jobs/145/","jobs":"/api/v2/job_templates/7/jobs/","schedules":"/api/v2/job_templates/7/schedules/","activity_stream":"/api/v2/job_templates/7/activity_stream/","launch":"/api/v2/job_templates/7/launch/","webhook_key":"/api/v2/job_templates/7/webhook_key/","webhook_receiver":"","notification_templates_started":"/api/v2/job_templates/7/notification_templates_started/","notification_templates_success":"/api/v2/job_templates/7/notification_templates_success/","notification_templates_error":"/api/v2/job_templates/7/notification_templates_error/","access_list":"/api/v2/job_templates/7/access_list/","survey_spec":"/api/v2/job_templates/7/survey_spec/","object_roles":"/api/v2/job_templates/7/object_roles/","instance_groups":"/api/v2/job_templates/7/instance_groups/","slice_workflow_jobs":"/api/v2/job_templates/7/slice_workflow_jobs/","copy":"/api/v2/job_templates/7/copy/"},"summary_fields":{"organization":{"id":1,"name":"Default","description":""},"inventory":{"id":1,"name":"Demo
        Inventory","description":"","has_active_failures":false,"total_hosts":1,"hosts_with_active_failures":0,"total_groups":0,"has_inventory_sources":false,"total_inventory_sources":0,"inventory_sources_with_failures":0,"organization_id":1,"kind":""},"project":{"id":6,"name":"Demo
        Project","description":"","status":"successful","scm_type":"git","allow_override":false},"last_job":{"id":145,"name":"Hello
        World","description":"","finished":"2023-05-03T18:53:06.894495Z","status":"successful","failed":false},"last_update":{"id":145,"name":"Hello
        World","description":"","status":"successful","failed":false},"created_by":{"id":1,"username":"admin","first_name":"","last_name":""},"modified_by":{"id":1,"username":"admin","first_name":"","last_name":""},"object_roles":{"admin_role":{"description":"Can
        manage all aspects of the job template","name":"Admin","id":31},"execute_role":{"description":"May
        run the job template","name":"Execute","id":32},"read_role":{"description":"May
        view settings for the job template","name":"Read","id":33}},"user_capabilities":{"edit":true,"delete":true,"start":true,"schedule":true,"copy":true},"labels":{"count":0,"results":[]},"recent_jobs":[{"id":145,"status":"successful","finished":"2023-05-03T18:53:06.894495Z","canceled_on":null,"type":"job"},{"id":144,"status":"successful","finished":"2023-05-03T18:50:49.332330Z","canceled_on":null,"type":"job"},{"id":139,"status":"successful","finished":"2023-01-05T14:55:42.054620Z","canceled_on":null,"type":"job"},{"id":136,"status":"successful","finished":"2023-01-04T21:59:59.243420Z","canceled_on":null,"type":"job"},{"id":135,"status":"successful","finished":"2022-12-20T15:12:53.506501Z","canceled_on":null,"type":"job"},{"id":134,"status":"successful","finished":"2022-12-20T15:07:21.029528Z","canceled_on":null,"type":"job"},{"id":133,"status":"successful","finished":"2022-12-20T14:53:35.210208Z","canceled_on":null,"type":"job"},{"id":100,"status":"successful","finished":"2022-12-20T14:53:09.225410Z","canceled_on":null,"type":"job"},{"id":67,"status":"error","finished":"2022-12-20T14:42:44.967517Z","canceled_on":null,"type":"job"},{"id":66,"status":"successful","finished":"2022-12-19T21:32:48.801465Z","canceled_on":null,"type":"job"}],"credentials":[{"id":1,"name":"Demo
        Credential","description":"","kind":"ssh","cloud":false}]},"created":"2022-11-17T14:50:12.370343Z","modified":"2023-05-03T18:48:45.915165Z","name":"Hello
        World","description":"","job_type":"run","inventory":1,"project":6,"playbook":"hello_world.yml","scm_branch":"","forks":0,"limit":"","verbosity":0,"extra_vars":"---","job_tags":"","force_handlers":false,"skip_tags":"","start_at_task":"","timeout":0,"use_fact_cache":false,"organization":1,"last_job_run":"2023-05-03T18:53:06.894495Z","last_job_failed":false,"next_job_run":null,"status":"successful","execution_environment":null,"host_config_key":"","ask_scm_branch_on_launch":false,"ask_diff_mode_on_launch":false,"ask_variables_on_launch":true,"ask_limit_on_launch":true,"ask_tags_on_launch":false,"ask_skip_tags_on_launch":false,"ask_job_type_on_launch":false,"ask_verbosity_on_launch":false,"ask_inventory_on_launch":false,"ask_credential_on_launch":false,"ask_execution_environment_on_launch":false,"ask_labels_on_launch":false,"ask_forks_on_launch":false,"ask_job_slice_count_on_launch":false,"ask_timeout_on_launch":false,"ask_instance_groups_on_launch":false,"survey_enabled":true,"become_enabled":false,"diff_mode":false,"allow_simultaneous":false,"custom_virtualenv":null,"job_slice_count":1,"webhook_service":"","webhook_credential":null,"prevent_instance_group_fallback":false}]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-API-Node:
      - awx1-b89c6f9fd-4h9lr
      X-API-Product-Name:
      - AWX
      X-API-Product-Version:
      - 21.8.0
      X-API-Request-Id:
      - bd8ae0932b1f48b0a7112bac75d81f21
      X-API-Time:
      - 0.110s
      X-API-Total-Time:
      - 0.188s
    status:
      code: 200
      message: OK
    url: https://examples.com/api/v2/job_templates/?name=Hello+World
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: POST
    uri: https://examples.com/api/v2/job_templates/7/launch/
  response:
    body:
      string: '{"job":146,"ignored_fields":{},"id":146,"type":"job","url":"/api/v2/jobs/146/","related":{"created_by":"/api/v2/users/1/","modified_by":"/api/v2/users/1/","labels":"/api/v2/jobs/146/labels/","inventory":"/api/v2/inventories/1/","project":"/api/v2/projects/6/","organization":"/api/v2/organizations/1/","credentials":"/api/v2/jobs/146/credentials/","unified_job_template":"/api/v2/job_templates/7/","stdout":"/api/v2/jobs/146/stdout/","job_events":"/api/v2/jobs/146/job_events/","job_host_summaries":"/api/v2/jobs/146/job_host_summaries/","activity_stream":"/api/v2/jobs/146/activity_stream/","notifications":"/api/v2/jobs/146/notifications/","create_schedule":"/api/v2/jobs/146/create_schedule/","job_template":"/api/v2/job_templates/7/","cancel":"/api/v2/jobs/146/cancel/","relaunch":"/api/v2/jobs/146/relaunch/"},"summary_fields":{"organization":{"id":1,"name":"Default","description":""},"inventory":{"id":1,"name":"Demo
        Inventory","description":"","has_active_failures":false,"total_hosts":1,"hosts_with_active_failures":0,"total_groups":0,"has_inventory_sources":false,"total_inventory_sources":0,"inventory_sources_with_failures":0,"organization_id":1,"kind":""},"project":{"id":6,"name":"Demo
        Project","description":"","status":"successful","scm_type":"git","allow_override":false},"job_template":{"id":7,"name":"Hello
        World","description":""},"unified_job_template":{"id":7,"name":"Hello World","description":"","unified_job_type":"job"},"created_by":{"id":1,"username":"admin","first_name":"","last_name":""},"modified_by":{"id":1,"username":"admin","first_name":"","last_name":""},"user_capabilities":{"delete":true,"start":true},"labels":{"count":0,"results":[]},"credentials":[{"id":1,"name":"Demo
        Credential","description":"","kind":"ssh","cloud":false}]},"created":"2023-05-03T18:55:04.470052Z","modified":"2023-05-03T18:55:04.510245Z","name":"Hello
        World","description":"","job_type":"run","inventory":1,"project":6,"playbook":"hello_world.yml","scm_branch":"","forks":0,"limit":"","verbosity":0,"extra_vars":"{}","job_tags":"","force_handlers":false,"skip_tags":"","start_at_task":"","timeout":0,"use_fact_cache":false,"organization":1,"unified_job_template":7,"launch_type":"manual","status":"pending","execution_environment":null,"failed":false,"started":null,"finished":null,"canceled_on":null,"elapsed":0.0,"job_args":"","job_cwd":"","job_env":{},"job_explanation":"","execution_node":"","controller_node":"","result_traceback":"","event_processing_finished":false,"launched_by":{"id":1,"name":"admin","type":"user","url":"/api/v2/users/1/"},"work_unit_id":null,"job_template":7,"passwords_needed_to_start":[],"allow_simultaneous":false,"artifacts":{},"scm_revision":"","instance_group":null,"diff_mode":false,"job_slice_number":0,"job_slice_count":1,"webhook_service":"","webhook_credential":null,"webhook_guid":""}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      Location:
      - /api/v2/jobs/146/
      X-API-Node:
      - awx1-b89c6f9fd-4h9lr
      X-API-Product-Name:
      - AWX
      X-API-Product-Version:
      - 21.8.0
      X-API-Request-Id:
      - 5a3285a3a3f54034b705e2d4e0eeb830
      X-API-Time:
      - 0.174s
      X-API-Total-Time:
      - 0.346s
    status:
      code: 201
      message: Created
    url: https://examples.com/api/v2/job_templates/7/launch/
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/jobs/146/
  response:
    body:
      string: '{"id":146,"type":"job","url":"/api/v2/jobs/146/","related":{"created_by":"/api/v2/users/1/","modified_by":"/api/v2/users/1/","labels":"/api/v2/jobs/146/labels/","inventory":"/api/v2/inventories/1/","project":"/api/v2/projects/6/","organization":"/api/v2/organizations/1/","credentials":"/api/v2/jobs/146/credentials/","[...]
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/jobs/146/
  response:
    body:
      string: '{"id":146,"type":"job","url":"/api/v2/jobs/146/","related":{"created_by":"/api/v2/users/1/","labels":"/api/v2/jobs/146/labels/","inventory":"/api/v2/inventories/1/","project":"/api/v2/projects/6/","organization":"/api/v2/organizations/1/","credentials":"/api/v2/jobs/146/credentials/","unified_job_template":"/api/v2/job_templates/7/","stdout":"/api/v2/jobs/146/stdout/","execution_environment":"/api/v2/execution_environments/1/","job_events":"/api/v2/jobs/146/job_events/","job_host_summaries":"/api/v2/jobs/146/job_host_summaries/","activity_stream":"/api/v2/jobs/146/activity_stream/","notifications":"/api/v2/jobs/146/notifications/","create_schedule":"/api/v2/jobs/146/create_schedule/","job_template":"/api/v2/job_templates/7/","cancel":"/api/v2/jobs/146/cancel/","relaunch":"/api/v2/jobs/146/relaunch/"},"summary_fields":{"organization":{"id":1,"name":"Default","description":""},"inventory":{"id":1,"name":"Demo
        Inventory","description":"","has_active_failures":false,"total_hosts":1,"hosts_with_active_failures":0,"total_groups":0,"has_inventory_sources":false,"total_inventory_sources":0,"inventory_sources_with_failures":0,"organization_id":1,"kind":""},"execution_environment":{"id":1,"name":"AWX
        EE (latest)","description":"","image":"quay.io/ansible/awx-ee:latest"},"project":{"id":6,"name":"Demo
        Project","description":"","status":"successful","scm_type":"git","allow_override":false},"job_template":{"id":7,"name":"Hello
        World","description":""},"unified_job_template":{"id":7,"name":"Hello World","description":"","unified_job_type":"job"},"instance_group":{"id":2,"name":"default","is_container_group":true},"created_by":{"id":1,"username":"admin","first_name":"","last_name":""},"user_capabilities":{"delete":true,"start":true},"labels":{"count":0,"results":[]},"credentials":[{"id":1,"name":"Demo
        Credential","description":"","kind":"ssh","cloud":false}]},"created":"2023-05-03T18:55:04.470052Z","modified":"2023-05-03T18:55:04.803982Z","name":"Hello
        World","description":"","job_type":"run","inventory":1,"project":6,"playbook":"hello_world.yml","scm_branch":"","forks":0,"limit":"","verbosity":0,"extra_vars":"{}","job_tags":"","force_handlers":false,"skip_tags":"","start_at_task":"","timeout":0,"use_fact_cache":false,"organization":1,"unified_job_template":7,"launch_type":"manual","status":"running","execution_environment":1,"failed":false,"started":"2023-05-03T18:55:04.938690Z","finished":null,"canceled_on":null,"elapsed":4.46897,"job_args":"[\"ansible-playbook\",
        \"-u\", \"admin\", \"-i\", \"/runner/inventory/hosts\", \"-e\", \"@/runner/env/extravars\",
        \"hello_world.yml\"]","job_cwd":"/runner/project","job_env":{"KUBERNETES_SERVICE_PORT_HTTPS":"443","KUBERNETES_SERVICE_PORT":"443","AWX1_SERVICE_SERVICE_HOST":"10.104.134.20","AWX_OPERATOR_CONTROLLER_MANAGER_METRICS_SERVICE_SERVICE_HOST":"10.100.6.11","HOSTNAME":"automation-job-146-ghjk8","PWD":"/runner","AWX_OPERATOR_CONTROLLER_MANAGER_METRICS_SERVICE_PORT_8443_TCP_PORT":"8443","AWX_OPERATOR_CONTROLLER_MANAGER_METRICS_SERVICE_PORT_8443_TCP_PROTO":"tcp","AWX1_SERVICE_PORT":"tcp://10.104.134.20:80","HOME":"/runner","KUBERNETES_PORT_443_TCP":"tcp://10.96.0.1:443","AWX_OPERATOR_CONTROLLER_MANAGER_METRICS_SERVICE_PORT":"tcp://10.100.6.11:8443","AWX1_SERVICE_PORT_80_TCP_PORT":"80","AWX1_SERVICE_SERVICE_PORT":"80","AWX_OPERATOR_CONTROLLER_MANAGER_METRICS_SERVICE_SERVICE_PORT_HTTPS":"8443","AWX_OPERATOR_CONTROLLER_MANAGER_METRICS_SERVICE_SERVICE_PORT":"8443","SHLVL":"0","KUBERNETES_PORT_443_TCP_PROTO":"tcp","AWX1_SERVICE_SERVICE_PORT_HTTP":"80","KUBERNETES_PORT_443_TCP_ADDR":"10.96.0.1","AWX_OPERATOR_CONTROLLER_MANAGER_METRICS_SERVICE_PORT_8443_TCP":"tcp://10.100.6.11:8443","KUBERNETES_SERVICE_HOST":"10.96.0.1","KUBERNETES_PORT":"tcp://10.96.0.1:443","KUBERNETES_PORT_443_TCP_PORT":"443","AWX1_SERVICE_PORT_80_TCP_ADDR":"10.104.134.20","PATH":"/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","AWX_OPERATOR_CONTROLLER_MANAGER_METRICS_SERVICE_PORT_8443_TCP_ADDR":"10.100.6.11","AWX1_SERVICE_PORT_80_TCP_PROTO":"tcp","AWX1_SERVICE_PORT_80_TCP":"tcp://10.104.134.20:80","LC_CTYPE":"C.UTF-8","ANSIBLE_FORCE_COLOR":"True","ANSIBLE_HOST_KEY_CHECKING":"False","ANSIBLE_INVENTORY_UNPARSED_FAILED":"True","ANSIBLE_PARAMIKO_RECORD_HOST_KEYS":"False","AWX_PRIVATE_DATA_DIR":"/tmp/awx_146_1bysuira","JOB_ID":"146","INVENTORY_ID":"1","PROJECT_REVISION":"347e44fea036c94d5f60e544de006453ee5c71ad","ANSIBLE_RETRY_FILES_ENABLED":"False","MAX_EVENT_RES":"700000","AWX_HOST":"https://towerhost","ANSIBLE_SSH_CONTROL_PATH_DIR":"/runner/cp","ANSIBLE_COLLECTIONS_PATHS":"/runner/requirements_collections:~/.ansible/collections:/usr/share/ansible/collections","ANSIBLE_ROLES_PATH":"/runner/requirements_roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles","ANSIBLE_CALLBACK_PLUGINS":"/usr/local/lib/python3.9/site-packages/ansible_runner/display_callback/callback","ANSIBLE_STDOUT_CALLBACK":"awx_display","AWX_ISOLATED_DATA_DIR":"/runner/artifacts/146","RUNNER_OMIT_EVENTS":"False","RUNNER_ONLY_FAILED_EVENTS":"False"},"job_explanation":"","execution_node":"","controller_node":"awx1-b89c6f9fd-4h9lr","result_traceback":"","event_processing_finished":false,"launched_by":{"id":1,"name":"admin","type":"user","url":"/api/v2/users/1/"},"work_unit_id":"uVAJNvrv","job_template":7,"passwords_needed_to_start":[],"allow_simultaneous":false,"artifacts":{},"scm_revision":"347e44fea036c94d5f60e544de006453ee5c71ad","instance_group":2,"diff_mode":false,"job_slice_number":0,"job_slice_count":1,"webhook_service":"","webhook_credential":null,"webhook_guid":"","host_status_counts":null,"playbook_counts":{"play_count":1,"task_count":1},"custom_virtualenv":null}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-API-Node:
      - awx1-b89c6f9fd-4h9lr
      X-API-Product-Name:
      - AWX
      X-API-Product-Version:
      - 21.8.0
      X-API-Request-Id:
      - f1fed134d16d4b2d85f660fd68eade9f
      X-API-Time:
      - 0.487s
      X-API-Total-Time:
      - 0.588s
    status:
      code: 200
      message: OK
    url: https://examples.com/api/v2/jobs/146/
[...]
