interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: POST
    uri: https://examples.com/api/v2/job_templates/Hello%20World++Default/launch/
  response:
    body:
      string: '{"job":435,"ignored_fields":{},"id":435,"type":"job","url":"/api/v2/jobs/435/","related":{"created_by":"/api/v2/users/1/","modified_by":"/api/v2/users/1/","labels":"/api/v2/jobs/435/labels/","inventory":"/api/v2/inventories/1/","project":"/api/v2/projects/8/","organization":"/api/v2/organizations/1/","credentials":"/api/v2/jobs/435/credentials/","unified_job_template":"/api/v2/job_templates/9/","stdout":"/api/v2/jobs/435/stdout/","job_events":"/api/v2/jobs/435/job_events/","job_host_summaries":"/api/v2/jobs/435/job_host_summaries/","activity_stream":"/api/v2/jobs/435/activity_stream/","notifications":"/api/v2/jobs/435/notifications/","create_schedule":"/api/v2/jobs/435/create_schedule/","job_template":"/api/v2/job_templates/9/","cancel":"/api/v2/jobs/435/cancel/","relaunch":"/api/v2/jobs/435/relaunch/"},"summary_fields":{"organization":{"id":1,"name":"Default","description":""},"inventory":{"id":1,"name":"Demo
        Inventory","description":"","has_active_failures":false,"total_hosts":1,"hosts_with_active_failures":0,"total_groups":0,"has_inventory_sources":false,"total_inventory_sources":0,"inventory_sources_with_failures":0,"organization_id":1,"kind":""},"project":{"id":8,"name":"mkanoor","description":"mkanoor","status":"successful","scm_type":"git","allow_override":false},"job_template":{"id":9,"name":"Hello
        World","description":"Hello World 490"},"unified_job_template":{"id":9,"name":"Hello
        World","description":"Hello World 490","unified_job_type":"job"},"created_by":{"id":1,"username":"admin","first_name":"","last_name":""},"modified_by":{"id":1,"username":"admin","first_name":"","last_name":""},"user_capabilities":{"delete":true,"start":true},"labels":{"count":0,"results":[]},"credentials":[]},"created":"2023-02-06T16:21:48.170337Z","modified":"2023-02-06T16:21:48.195584Z","name":"Hello
        World","description":"Hello World 490","job_type":"run","inventory":1,"project":8,"playbook":"hello_world.yml","scm_branch":"","forks":0,"limit":"","verbosity":0,"extra_vars":"{\"secret\":
        \"$encrypted$\"}","job_tags":"","force_handlers":false,"skip_tags":"","start_at_task":"","timeout":0,"use_fact_cache":false,"organization":1,"unified_job_template":9,"launch_type":"manual","status":"pending","execution_environment":null,"failed":false,"started":null,"finished":null,"canceled_on":null,"elapsed":0.0,"job_args":"","job_cwd":"","job_env":{},"job_explanation":"","execution_node":"","controller_node":"","result_traceback":"","event_processing_finished":false,"launched_by":{"id":1,"name":"admin","type":"user","url":"/api/v2/users/1/"},"work_unit_id":null,"job_template":9,"passwords_needed_to_start":[],"allow_simultaneous":false,"artifacts":{},"scm_revision":"","instance_group":null,"diff_mode":false,"job_slice_number":0,"job_slice_count":1,"webhook_service":"","webhook_credential":null,"webhook_guid":""}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      Location:
      - /api/v2/jobs/435/
      X-API-Node:
      - localhost
      X-API-Product-Name:
      - Red Hat Ansible Automation Platform
      X-API-Product-Version:
      - 4.1.0
      X-API-Request-Id:
      - 95e47944ff9a462782f8a627bd4eb45a
      X-API-Time:
      - 0.322s
      X-API-Total-Time:
      - 0.810s
    status:
      code: 201
      message: Created
    url: https://examples.com/api/v2/job_templates/Hello%20World++Default/launch/
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/jobs/435/job_events/
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-API-Node:
      - localhost
      X-API-Product-Name:
      - Red Hat Ansible Automation Platform
      X-API-Product-Version:
      - 4.1.0
      X-API-Request-Id:
      - 48d6703b253c49419aaf54dfefb74cdd
      X-API-Time:
      - 0.019s
      X-API-Total-Time:
      - 0.056s
      X-UI-Max-Events:
      - '4000'
    status:
      code: 200
      message: OK
    url: https://examples.com/api/v2/jobs/435/job_events/
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/jobs/435/job_events/
  response:
    body:
      string: '{"count":9,"next":null,"previous":null,"results":[{"id":2847,"type":"job_event","url":"/api/v2/job_events/2847/","related":{"job":"/api/v2/jobs/435/","children":"/api/v2/job_events/2847/children/"},"summary_fields":{"job":{"id":435,"name":"Hello
        World","description":"Hello World 490","status":"successful","failed":false,"elapsed":7.4,"type":"job","job_template_id":9,"job_template_name":"Hello
        World"},"role":{}},"created":"2023-02-06T16:21:51.229223Z","modified":"2023-02-06T16:21:51.361467Z","job":435,"event":"playbook_on_start","counter":1,"event_display":"Playbook
        Started","event_data":{"playbook":"hello_world.yml","playbook_uuid":"6c58ffa9-d4d3-4b72-adea-dc4f16df9d70","uuid":"6c58ffa9-d4d3-4b72-adea-dc4f16df9d70","guid":"95e47944ff9a462782f8a627bd4eb45a"},"event_level":0,"failed":false,"changed":false,"uuid":"6c58ffa9-d4d3-4b72-adea-dc4f16df9d70","parent_uuid":"","host":null,"host_name":"","playbook":"hello_world.yml","play":"","task":"","role":"","stdout":"","start_line":0,"end_line":0,"verbosity":0},{"id":2845,"type":"job_event","url":"/api/v2/job_events/2845/","related":{"job":"/api/v2/jobs/435/","children":"/api/v2/job_events/2845/children/"},"summary_fields":{"job":{"id":435,"name":"Hello
        World","description":"Hello World 490","status":"successful","failed":false,"elapsed":7.4,"type":"job","job_template_id":9,"job_template_name":"Hello
        World"},"role":{}},"created":"2023-02-06T16:21:51.230477Z","modified":"2023-02-06T16:21:51.360386Z","job":435,"event":"playbook_on_play_start","counter":2,"event_display":"Play
        Started (Echo Hello, world!)","event_data":{"playbook":"hello_world.yml","playbook_uuid":"6c58ffa9-d4d3-4b72-adea-dc4f16df9d70","play":"Echo
        Hello, world!","play_uuid":"425d9dd7-83af-8766-beed-000000000006","play_pattern":"localhost","name":"Echo
        Hello, world!","pattern":"localhost","uuid":"425d9dd7-83af-8766-beed-000000000006","guid":"95e47944ff9a462782f8a627bd4eb45a"},"event_level":1,"failed":false,"changed":false,"uuid":"425d9dd7-83af-8766-beed-000000000006","parent_uuid":"6c58ffa9-d4d3-4b72-adea-dc4f16df9d70","host":null,"host_name":"","playbook":"hello_world.yml","play":"Echo
        Hello, world!","task":"","role":"","stdout":"\r\nPLAY [Echo Hello, world!]
        ******************************************************","start_line":0,"end_line":2,"verbosity":0},{"id":2846,"type":"job_event","url":"/api/v2/job_events/2846/","related":{"job":"/api/v2/jobs/435/","children":"/api/v2/job_events/2846/children/"},"summary_fields":{"job":{"id":435,"name":"Hello
        World","description":"Hello World 490","status":"successful","failed":false,"elapsed":7.4,"type":"job","job_template_id":9,"job_template_name":"Hello
        World"},"role":{}},"created":"2023-02-06T16:21:51.238345Z","modified":"2023-02-06T16:21:51.365019Z","job":435,"event":"playbook_on_task_start","counter":3,"event_display":"Task
        Started (Gathering Facts)","event_data":{"playbook":"hello_world.yml","playbook_uuid":"6c58ffa9-d4d3-4b72-adea-dc4f16df9d70","play":"Echo
        Hello, world!","play_uuid":"425d9dd7-83af-8766-beed-000000000006","play_pattern":"localhost","task":"Gathering
        Facts","task_uuid":"425d9dd7-83af-8766-beed-00000000000c","task_action":"gather_facts","task_args":"","task_path":"/runner/project/hello_world.yml:3","name":"Gathering
        Facts","is_conditional":false,"uuid":"425d9dd7-83af-8766-beed-00000000000c","guid":"95e47944ff9a462782f8a627bd4eb45a"},"event_level":2,"failed":false,"changed":false,"uuid":"425d9dd7-83af-8766-beed-00000000000c","parent_uuid":"425d9dd7-83af-8766-beed-000000000006","host":null,"host_name":"","playbook":"hello_world.yml","play":"Echo
        Hello, world!","task":"Gathering Facts","role":"","stdout":"\r\nTASK [Gathering
        Facts] *********************************************************","start_line":2,"end_line":4,[...]
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/jobs/435/
  response:
    body:
      string: '{"id":435,"type":"job","url":"/api/v2/jobs/435/","related":{"created_by":"/api/v2/users/1/","labels":"/api/v2/jobs/435/labels/","inventory":"/api/v2/inventories/1/","project":"/api/v2/projects/8/","organization":"/api/v2/organizations/1/","credentials":"/api/v2/jobs/435/credentials/","unified_job_template":"/api/v2/job_templates/9/","stdout":"/api/v2/jobs/435/stdout/","execution_environment":"/api/v2/execution_environments/3/","job_events":"/api/v2/jobs/435/job_events/","job_host_summaries":"/api/v2/jobs/435/job_host_summaries/","activity_stream":"/api/v2/jobs/435/activity_stream/","notifications":"/api/v2/jobs/435/notifications/","create_schedule":"/api/v2/jobs/435/create_schedule/","job_template":"/api/v2/job_templates/9/","cancel":"/api/v2/jobs/435/cancel/","relaunch":"/api/v2/jobs/435/relaunch/"},"summary_fields":{"organization":{"id":1,"name":"Default","description":""},"inventory":{"id":1,"name":"Demo
        Inventory","description":"","has_active_failures":false,"total_hosts":1,"hosts_with_active_failures":0,"total_groups":0,"has_inventory_sources":false,"total_inventory_sources":0,"inventory_sources_with_failures":0,"organization_id":1,"kind":""},"execution_environment":{"id":3,"name":"Default
        execution environment","description":"","image":"registry.redhat.io/ansible-automation-platform-21/ee-supported-rhel8:latest"},"project":{"id":8,"name":"mkanoor","description":"mkanoor","status":"successful","scm_type":"git","allow_override":false},"job_template":{"id":9,"name":"Hello
        World","description":"Hello World 490"},"unified_job_template":{"id":9,"name":"Hello
        World","description":"Hello World 490","unified_job_type":"job"},"instance_group":{"id":2,"name":"default","is_container_group":false},"created_by":{"id":1,"username":"admin","first_name":"","last_name":""},"user_capabilities":{"delete":true,"start":true},"labels":{"count":0,"results":[]},"credentials":[]},"created":"2023-02-06T16:21:48.170337Z","modified":"2023-02-06T16:21:48.665207Z","name":"Hello
        World","description":"Hello World 490","job_type":"run","inventory":1,"project":8,"playbook":"hello_world.yml","scm_branch":"","forks":0,"limit":"","verbosity":0,"extra_vars":"{\"secret\":
        \"$encrypted$\"}","j[...]
