interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/job_templates/?name=Hello+World
  response:
    body:
      string: "{\"count\":2,\"next\":null,\"previous\":null,\"results\":[{\"id\":9,\"type\":\"job_template\",\"url\":\"/api/v2/job_templates/9/\",\"related\":{\"created_by\":\"/api/v2/users/1/\",\"modified_by\":\"/api/v2/users/1/\",\"labels\":\"/api/v2/job_templates/9/labels/\",\"inventory\":\"/api/v2/inventories/1/\",\"project\":\"/api/v2/projects/8/\",\"organization\":\"/api/v2/organizations/1/\",\"credentials\":\"/api/v2/job_templates/9/credentials/\",\"last_job\":\"/api/v2/jobs/1090/\",\"jobs\":\"/api/v2/job_templates/9/jobs/\",\"schedules\":\"/api/v2/job_templates/9/schedules/\",\"activity_stream\":\"/api/v2/job_templates/9/activity_stream/\",\"launch\":\"/api/v2/job_templates/9/launch/\",\"webhook_key\":\"/api/v2/job_templates/9/webhook_key/\",\"webhook_receiver\":\"\",\"notification_templates_started\":\"/api/v2/job_templates/9/notification_templates_started/\",\"notification_templates_success\":\"/api/v2/job_templates/9/notification_templates_success/\",\"notification_templates_error\":\"/api/v2/job_templates/9/notification_templates_error/\",\"access_list\":\"/api/v2/job_templates/9/access_list/\",\"survey_spec\":\"/api/v2/job_templates/9/survey_spec/\",\"object_roles\":\"/api/v2/job_templates/9/object_roles/\",\"instance_groups\":\"/api/v2/job_templates/9/instance_groups/\",\"slice_workflow_jobs\":\"/api/v2/job_templates/9/slice_workflow_jobs/\",\"copy\":\"/api/v2/job_templates/9/copy/\"},\"summary_fields\":{\"organization\":{\"id\":1,\"name\":\"Default\",\"description\":\"\"},\"inventory\":{\"id\":1,\"name\":\"Demo
        Inventory\",\"description\":\"\",\"has_active_failures\":false,\"total_hosts\":1,\"hosts_with_active_failures\":0,\"total_groups\":0,\"has_inventory_sources\":false,\"total_inventory_sources\":0,\"inventory_sources_with_failures\":0,\"organization_id\":1,\"kind\":\"\"},\"project\":{\"id\":8,\"name\":\"mkanoor\",\"description\":\"mkanoor\",\"status\":\"successful\",\"scm_type\":\"git\",\"allow_override\":false},\"last_job\":{\"id\":1090,\"name\":\"Hello
        World\",\"description\":\"Hello World 490\",\"finished\":\"2023-04-17T17:46:17.378778Z\",\"status\":\"successful\",\"failed\":false},\"last_update\":{\"id\":1090,\"name\":\"Hello
        World\",\"description\":\"Hello World 490\",\"status\":\"successful\",\"failed\":false},\"created_by\":{\"id\":1,\"username\":\"admin\",\"first_name\":\"\",\"last_name\":\"\"},\"modified_by\":{\"id\":1,\"username\":\"admin\",\"first_name\":\"\",\"last_name\":\"\"},\"object_roles\":{\"admin_role\":{\"description\":\"Can
        manage all aspects of the job template\",\"name\":\"Admin\",\"id\":41},\"execute_role\":{\"description\":\"May
        run the job template\",\"name\":\"Execute\",\"id\":42},\"read_role\":{\"description\":\"May
        view settings for the job template\",\"name\":\"Read\",\"id\":43}},\"user_capabilities\":{\"edit\":true,\"delete\":true,\"start\":true,\"schedule\":true,\"copy\":true},\"labels\":{\"count\":0,\"results\":[]},\"survey\":{\"title\":\"exam\",\"description\":\"ResidentStartCareReasonKickIncreaseMakeSkillTowelSoup\uFFFD\"},\"recent_jobs\":[{\"id\":1090,\"status\":\"successful\",\"finished\":\"2023-04-17T17:46:17.378778Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1089,\"status\":\"successful\",\"finished\":\"2023-04-17T17:45:18.565439Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1088,\"status\":\"successful\",\"finished\":\"2023-04-17T17:43:54.247403Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1087,\"status\":\"successful\",\"finished\":\"2023-04-17T17:43:43.955850Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1086,\"status\":\"successful\",\"finished\":\"2023-04-17T17:43:33.421700Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1082,\"status\":\"successful\",\"finished\":\"2023-04-17T17:07:52.557917Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1080,\"status\":\"successful\",\"finished\":\"2023-04-17T16:24:18.413605Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1079,\"status\":\"successful\",\"finished\":\"2023-04-17T16:24:08.648747Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1078,\"status\":\"successful\",\"finished\":\"2023-04-17T16:23:56.613290Z\",\"canceled_on\":null,\"type\":\"job\"},{\"id\":1074,\"status\":\"successful\",\"finished\":\"2023-04-17T14:03:32.747216Z\",\"canceled_on\":null,\"type\":\"job\"}],\"credentials\":[]},\"created\":\"2021-12-13T16:23:41.200803Z\",\"modified\":\"2022-01-05T19:56:32.850511Z\",\"name\":\"Hello
        World\",\"description\":\"Hello World 490\",\"job_type\":\"run\",\"inventory\":1,\"project\":8,\"playbook\":\"hello_world.yml\",\"scm_branch\":\"\",\"forks\":0,\"limit\":\"\",\"verbosity\":0,\"extra_vars\":\"---\",\"job_tags\":\"\",\"force_handlers\":false,\"skip_tags\":\"\",\"start_at_task\":\"\",\"timeout\":0,\"use_fact_cache\":false,\"organization\":1,\"last_job_run\":\"2023-04-17T17:46:17.378778Z\",\"last_job_failed\":false,\"next_job_run\":null,\"status\":\"successful\",\"execution_environment\":null,\"host_config_key\":\"\",\"ask_scm_branch_on_launch\":false,\"ask_diff_mode_on_launch\":false,\"ask_variables_on_launch\":false,\"ask_limit_on_launch\":false,\"ask_tags_on_launch\":false,\"ask_skip_tags_on_launch\":false,\"ask_job_type_on_launch\":false,\"ask_verbosity_on_launch\":false,\"ask_inventory_on_launch\":false,\"ask_credential_on_launch\":false,\"survey_enabled\":true,\"become_enabled\":false,\"diff_mode\":false,\"allow_simultaneous\":false,\"custom_virtualenv\":null,\"job_slice_count\":1,\"webhook_service\":\"\",\"webhook_credential\":null},{\"id\":12,\"type\":\"job_template\",\"url\":\"/api/v2/job_templates/12/\",\"related\":{\"created_by\":\"/api/v2/users/1/\",\"modified_by\":\"/api/v2/users/1/\",\"labels\":\"/api/v2/job_templates/12/labels/\",\"inventory\":\"/api/v2/inventories/1/\",\"project\":\"/api/v2/projects/8/\",\"organization\":\"/api/v2/organizations/1/\",\"credentials\":\"/api/v2/job_templates/12/credentials/\",\"jobs\":\"/api/v2/job_templates/12/jobs/\",\"schedules\":\"/api/v2/job_templates/12/schedules/\",\"acti[...]
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: POST
    uri: https://examples.com/api/v2/job_templates/9/launch/
  response:
    body:
      string: '{"job":1091,"ignored_fields":{},"id":1091,"type":"job","url":"/api/v2/jobs/1091/","related":{"created_by":"/api/v2/users/1/","modified_by":"/api/v2/users/1/","labels":"/api/v2/jobs/1091/labels/","inventory":"/api/v2/inventories/1/","project":"/api/v2/projects/8/","organization":"/api/v2/organizations/1/","credentials":"/api/v2/jobs/1091/credentials/","unified_job_template":"/api/v2/job_templates/9/","stdout":"/api/v2/jobs/1091/stdout/","job_events":"/api/v2/jobs/1091/job_events/","job_host_summaries":"/api/v2/jobs/1091/job_host_summaries/","activity_stream":"/api/v2/jobs/1091/activity_stream/","notifications":"/api/v2/jobs/1091/notifications/","create_schedule":"/api/v2/jobs/1091/create_schedule/","job_template":"/api/v2/job_templates/9/","cancel":"/api/v2/jobs/1091/cancel/","relaunch":"/api/v2/jobs/1091/relaunch/"},"summary_fields":{"organization":{"id":1,"name":"Default","description":""},"inventory":{"id":1,"name":"Demo
        Inventory","description":"","has_active_failures":false,"total_hosts":1,"hosts_with_active_failures":0,"total_groups":0,"has_inventory_sources":false,"total_inventory_sources":0,"inventory_sources_with_failures":0,"organization_id":1,"kind":""},"project":{"id":8,"name":"mkanoor","description":"mkanoor","status":"successful","scm_type":"git","allow_override":false},"job_template":{"id":9,"name":"Hello
        World","description":"Hello World 490"},"unified_job_template":{"id":9,"name":"Hello
        World","description":"Hello World 490","unified_job_type":"job"},"created_by":{"id":1,"username":"admin","first_name":"","last_name":""},"modified_by":{"id":1,"username":"admin","first_name":"","last_name":""},"user_capabilities":{"delete":true,"start":true},"labels":{"count":0,"results":[]},"credentials":[]},"created":"2023-04-17T18:05:32.858159Z","modified":"2023-04-17T18:05:32.884913Z","name":"Hello
        World","description":"Hello World 490","job_type":"run","inventory":1,"project":8,"playbook":"hello_world.yml","scm_branch":"","forks":0,"limit":"","verbosity":0,"extra_vars":"{\"secret\":
        \"$encrypted$\"}","job_tags":"","force_handlers":false,"skip_tags":"","start_at_task":"","timeout":0,"use_fact_cache":false,"organization":1,"unified_job_template":9,"launch_type":"manual","status":"pending","execution_environment":null,"failed":false,"started":null,"finished":null,"canceled_on":null,"elapsed":0.0,"job_args":"","job_cwd":"","job_env":{},"job_explanation":"","execution_node":"","controller_node":"","result_traceback":"","event_processing_finished":false,"launched_by":{"id":1,"name":"admin","type":"user","url":"/api/v2/users/1/"},"work_unit_id":null,"job_template":9,"passwords_needed_to_start":[],"allow_simultaneous":false,"artifacts":{},"scm_revision":"","instance_group":null,"diff_mode":false,"job_slice_number":0,"job_slice_count":1,"webhook_service":"","webhook_credential":null,"webhook_guid":""}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      Location:
      - /api/v2/jobs/1091/
      X-API-Node:
      - localhost
      X-API-Product-Name:
      - Red Hat Ansible Automation Platform
      X-API-Product-Version:
      - 4.1.0
      X-API-Request-Id:
      - 184a46adb4ac4270ae0a0c9e531ee6b2
      X-API-Time:
      - 0.118s
      X-API-Total-Time:
      - 0.250s
    status:
      code: 201
      message: Created
    url: https://examples.com/api/v2/job_templates/9/launch/
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/jobs/1091/job_events/
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-API-Node:
      - localhost
      X-API-Product-Name:
      - Red Hat Ansible Automation Platform
      X-API-Product-Version:
      - 4.1.0
      X-API-Request-Id:
      - cfd8835301ce46918251f62e35e0fe0c
      X-API-Time:
      - 0.016s
      X-API-Total-Time:
      - 0.055s
      X-UI-Max-Events:
      - '4000'
    status:
      code: 200
      message: OK
    url: https://examples.com/api/v2/jobs/1091/job_events/
[...]
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/jobs/1091/job_events/
  response:
    body:
      string: '{"count":4,"next":null,"previous":null,"results":[{"id":8559,"type":"job_event","url":"/api/v2/job_events/8559/","related":{"job":"/api/v2/jobs/1091/","children":"/api/v2/job_events/8559/children/"},"summary_fields":{"job":{"id":1091,"name":"Hello
        World","description":"Hello World 490","status":"running","failed":false,"elapsed":0.0,"type":"job","job_template_id":9,"job_template_name":"Hello
        World"},"role":{}},"created":"2023-04-17T18:05:36.067844Z","modified":"2023-04-17T18:05:36.296617Z","job":1091,"event":"playbook_on_start","counter":1,"event_display":"Playbook
        Started","event_data":{"playbook":"hello_world.yml","playbook_uuid":"8aafb17d-8894-48b7-9522-bed38bb61fdb","uuid":"8aafb17d-8894-48b7-9522-bed38bb61fdb","guid":"184a46adb4ac4270ae0a0c9e531ee6b2"},"event_level":0,"failed":false,"changed":false,"uuid":"8aafb17d-8894-48b7-9522-bed38bb61fdb","parent_uuid":"","host":null,"host_name":"","playbook":"hello_world.yml","play":"","task":"","role":"","stdout":"","start_line":0,"end_line":0,"verbosity":0},{"id":8557,"type":"job_event","url":"/api/v2/job_events/8557/","related":{"job":"/api/v2/jobs/1091/","children":"/api/v2/job_events/8557/children/"},"summary_fields":{"job":{"id":1091,"name":"Hello
        World","description":"Hello World 490","status":"running","failed":false,"elapsed":0.0,"type":"job","job_template_id":9,"job_template_name":"Hello
        World"},"role":{}},"created":"2023-04-17T18:05:36.069189Z","modified":"2023-04-17T18:05:36.283260Z","job":1091,"event":"playbook_on_play_start","counter":2,"event_display":"Play
        Started (Echo Hello, world!)","event_data":{"playbook":"hello_world.yml","playbook_uuid":"8aafb17d-8894-48b7-9522-bed38bb61fdb","play":"Echo
        Hello, world!","play_uuid":"3681379f-26bd-df99-f262-000000000006","play_pattern":"localhost","name":"Echo
        Hello, world!","pattern":"localhost","uuid":"3681379f-26bd-df99-f262-000000000006","guid":"184a46adb4ac4270ae0a0c9e531ee6b2"},"event_level":1,"failed":false,"changed":false,"uuid":"3681379f-26bd-df99-f262-000000000006","parent_uuid":"8aafb17d-8894-48b7-9522-bed38bb61fdb","host":null,"host_name":"","playbook":"hello_world.yml","play":"Echo
        Hello, world!","task":"","role":"","stdout":"\r\nPLAY [Echo Hello, world!]
        ******************************************************","start_line":0,"end_line":2,"verbosity":0},{"id":8558,"type":"job_event","url":"/api/v2/job_events/8558/","related":{"job":"/api/v2/jobs/1091/","children":"/api/v2/job_events/8558/children/"},"summary_fields":{"job":{"id":1091,"name":"Hello
        World","description":"Hello World 490","status":"running","failed":false,"elapsed":0.0,"type":"job","job_template_id":9,"job_template_name":"Hello
        World"},"role":{}},"created":"2023-04-17T18:05:36.079001Z","modified":"2023-04-17T18:05:36.284043Z","job":1091,"event":"playbook_on_task_start","counter":3,"event_display":"Task
        Started (Gathering Facts)","event_data":{"playbook":"hello_world.yml","playbook_uuid":"8aafb17d-8894-48b7-9522-bed38bb61fdb","play":"Echo
        Hello, world!","play_uuid":"3681379f-26bd-df99-f262-000000000006","play_pattern":"localhost","task":"Gathering
        Facts","task_uuid":"3681379f-26bd-df99-f262-00000000000c","task_action":"gather_facts","task_args":"","task_path":"/runner/project/hello_world.yml:3","name":"Gathering
        Facts","is_conditional":false,"uuid":"3681379f-26bd-df99-f262-00000000000c","guid":"184a46adb4ac4270ae0a0c9e531ee6b2"},"event_level":2,"failed":false,"changed":false,"uuid":"3681379f-26bd-df99-f262-00000000000c","parent_uuid":"3681379f-26bd-df99-f262-000000000006","host":null,"host_name":"","playbook":"hello_world.yml","play":"Echo
        Hello, world!","task":"Gathering Facts","role":"","stdout":"\r\nTASK [Gathering
        Facts] *********************************************************","start_line":2,"end_line":4,[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - Bearer DUMMY
    method: GET
    uri: https://examples.com/api/v2/jobs/1091/
  response:
    body:
      string: '{"id":1091,"type":"job","url":"/api/v2/jobs/1091/","related":{"created_by":"/api/v2/users/1/","labels":"/api/v2/jobs/1091/labels/","inventory":"/api/v2/inventories/1/","project":"/api/v2/projects/8/","organization":"/api/v2/organizations/1/","credentials":"/api/v2/jobs/1091/credentials/","unified_job_template":"/api/v2/job_templates/9/","stdout":"/api/v2/jobs/1091/stdout/","execution_environment":"/api/v2/execution_environments/3/","job_events":"/api/v2/jobs/1091/job_events/","job_host_summaries":"/api/v2/jobs/1091/job_host_summaries/","activity_stream":"/api/v2/jobs/1091/activity_stream/","notifications":"/api/v2/jobs/1091/notifications/","create_schedule":"/api/v2/jobs/1091/create_schedule/","job_template":"/api/v2/job_templates/9/","cancel":"/api/v2/jobs/1091/cancel/","relaunch":"/api/v2/jobs/1091/relaunch/"},"summary_fields":{"organization":{"id":1,"name":"Default","description":""},"inventory":{"id":1,"name":"Demo
        Inventory","description":"","has_active_failures":false,"total_hosts":1,"hosts_with_active_failures":0,"total_groups":0,"has_inventory_sources":false,"total_inventory_sources":0,"inventory_sources_with_failures":0,"organization_id":1,"kind":""},"execution_environment":{"id":3,"name":"Default
        execution environment","description":"","image":"registry.redhat.io/ansible-automation-platform-21/ee-supported-rhel8:latest"},"project":{"id":8,"name":"mkanoor","description":"mkanoor","status":"successful","scm_type":"git","allow_override":false},"job_template":{"id":9,"name":"Hello
        World","description":"Hello World 490"},"unified_job_template":{"id":9,"name":"Hello
        World","description":"Hello World 490","unified_job_type":"job"},"instance_group":{"id":2,"name":"default","is_container_group":false},"created_by":{"id":1,"username":"admin","first_name":"","last_name":""},"user_capabilities":{"delete":true,"start":true},"labels":{"count":0,"results":[]},"credentials":[]},"created":"2023-04-17T18:05:32.858159Z","modified":"2023-04-17T18:05:33.128683Z","name":"Hello
        World","description":"Hello World 490","job_type":"run","inventory":1,"project":8,"playbook":"hello_world.yml","scm_branch":"","forks":0,"limit":"","verbosity":0,"extra_vars":"{\"secret\":
        \"$encrypted$\"}","j[...]
