name: ci

on:
  push:
    branches:
      - "main"
      - "stable*"
  pull_request:
    branches:
      - "main"
      - "stable*"
  workflow_dispatch:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: run commitlint
        uses: wagoid/commitlint-github-action@v6

  flake8:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: run flake
        uses: ./.github/actions/run-flake

  isort:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: run isort
        uses: ./.github/actions/run-isort

  black:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: black
        uses: psf/black@stable
        with:
          version: "22.12.0"

  all-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: All tests
        env:
          PDE_ORG_RESULTS_AGGREGATOR_UPLOAD_USER: ${{ vars.PDE_ORG_RESULTS_AGGREGATOR_UPLOAD_USER }}
          PDE_ORG_RESULTS_UPLOAD_PASSWORD: ${{ secrets.PDE_ORG_RESULTS_UPLOAD_PASSWORD }}
          PDE_ORG_RESULTS_AGGREGATOR_UPLOAD_URL: ${{ vars.PDE_ORG_RESULTS_AGGREGATOR_UPLOAD_URL }}
        uses: ./.github/actions/all-tests

        # Add PR number to coverage file for SonarCloud analysis
      - name: Inject PR number into coverage file
        if: github.event_name == 'pull_request'
        run: |
          sed -i '2i <!-- PR ${{ github.event.number }} -->' coverage.xml
          echo "PR Number: ${{ github.event.number }} injected into coverage file"

        # Upload coverage artifact to Github for SonarCloud (only from Python 3.11)
      - name: Upload coverage as artifact
        if: matrix.python-version == '3.11'
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: ./coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: false
          files: ./coverage.xml
          flags: "unittests-${{ matrix.python-version }}"
          name: codecov-umbrella
          verbose: true

  build-and-test-image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Build and test the container image
      uses: ./.github/actions/image-test
